<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <div>
        <div class="dropzone" appUploaddirective (hovered)="toggleHover($event)" (dropped)="onDrop($event)"
          (dragover)="onDragOver($event)" [class.hovering]="isHovering">
          <i class="fa fa-cloud-upload fa-2x"></i>
          <h3>Drop file here to upload</h3>
          <div><span><b>or</b></span></div><br>
          <!-- <div> <input type="file" class="file-input" (change) = 'onDrop($event.target.files)'></div> -->
          <label class="fileContainer">
            <button class="btn btn-primary">Click here to uplaod</button>
            <input type="file" (change)='onDrop($event.target.files)' />
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<h3>Uploads</h3>

<div *ngFor="let file of panfiles">
  <app-upload-task [file]="file" [interdoc] = "interdoc"></app-upload-task>
</div>
