.title {
  text-align: center;
  margin: 30px auto;
  font-style: normal;
  font-variant-caps: titling-caps;
  color: #652d92;
  font-size: 35px;
  max-width: 600px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.title::before {
  content: "";
  display: block;
  width: 90px;
  height: 4px;
  background: black;
  position: absolute;
  left: 153px;
  top: 50%;
  border-radius: 100px;
}
.title::after {
  content: "";
  display: block;
  width: 90px;
  height: 4px;
  background: black;
  position: absolute;
  right: 155px;
  top: 50%;
  border-radius: 100px;
}
.content {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  text-transform: capitalize;
  line-height: 1.6;
  font-weight: bold;
}
.top-left {
  position: absolute;
  top: 165px;
  left: 115px;
  font-size: 17pt;
  font-family: "Montserrat", sans-serif;
}
.Header {
  position: absolute;
  top: 200px;
  left: 115px;
  font-size: 23pt;
  font-family: "Nunito Sans", sans-serif;
  width: 368px;
  font-weight: bold;
  line-height: 30px;
}
.addtitle {
  font-family: "Crimson Text", serif;
  font-family: "EB Garamond", serif;
  text-align:center;
  margin-bottom: 15px;
  text-decoration: underline;
}
#matcardimg {
    position: absolute;
    top: 580px;
    left: 65px;
    font-size: 23pt;
    font-family: "Nunito Sans", sans-serif;
    width: 1270px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
}
