<div class="row" style="margin-top: -20px;">
		<div class="col-md-12">
      <img alt="Bootstrap Image Preview" src="../../../../assets/images/tophead.jpg" width="100%" alt="This is image"/>
      <div class="top-left">BRIEFLY ABOUT US </div>
      <div class="Header">Background Verification Check</div>
      <mat-card id="matcardimg">
  <mat-card-title class="title"> About </mat-card-title>
  <mat-card-title class="addtitle">What We Do?</mat-card-title>
  <mat-card-content class="content text-muted">
    ViuDocs performs background verification for potential employees.
    We collect data from authentic databases and compare them with the application provided to us.
    Employers can request verification checks for their employees. Job- seekers can also get
    documents verified and use the certificate provided while applying for jobs.
  </mat-card-content>
        </mat-card>
		</div>
	</div>
<mat-divider></mat-divider><br>

<!-- <div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
			<div class="carousel slide" id="carousel-869542">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-869542" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-869542">
					</li>
					<li data-slide-to="2" data-target="#carousel-869542">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" alt="Carousel Bootstrap First" src='../../../assets/images/OIP.jpg'  height="300px"/>
						<div class="carousel-caption">
							<h4 style="color:black;">
							Aadhar
							</h4>
							<p style="background-color:black;">
							Your Aadhar is safe and secure here, login here and upload documents for verification
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" alt="Carousel Bootstrap Second" src="../../../assets/images/pancard.jpg" height="300px"/>
						<div class="carousel-caption">
							<h4 style="color:black;">
							Pan Card
							</h4>
							<p style="background-color:black;">
								Your Pan card is safe and secure here, login here and upload documents and verification
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" alt="Carousel Bootstrap Third" src="../../../assets/images/passport1.jpg" height="300px" />
						<div class="carousel-caption">
							<h4 style="color:black;">
							Passport
							</h4>
							<p style="background-color:black;">
							You Passport is safe and secure here, login here and upload documents for verification
							</p>
						</div>
					</div>
				</div> <a class="carousel-control-prev" href="#carousel-869542" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-869542" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
			</div>
    </div>
    <div class="col-md-2"></div>
	</div>
</div> -->
<!-- <mat-divider></mat-divider><br> -->
<!-- <mat-card style="background-color: whitesmoke;"> -->

<!-- <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4" style="text-align: center;font-size: 19px;
      color: black;font-family: 'Montserrat', sans-serif;font-weight: bold;">
        Identity Checks
      </div>
      <div class="col-md-4" style="text-align: center;font-size: 19px;
      color: black;font-family: 'Montserrat', sans-serif;font-weight: bold;">
          Educational Checks
      </div>
      <div class="col-md-4" style="text-align: center;font-size: 19px;
      color: black;font-family: 'Montserrat', sans-serif;font-weight: bold;">
          Previous Employeement Checks
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-4">
        <img alt="Bootstrap Image Preview" src="../../../../assets/images/Indian-passport.jpg" width="100%" height="100%"/>
      </div>
      <div class="col-md-4">
        <img alt="Bootstrap Image Preview" src="../../../../assets/images/personholding.jpg" width="100%" height="100%"/>
      </div>
      <div class="col-md-4">
        <img alt="Bootstrap Image Preview" src="../../../../assets/images/resume.jpg" width="100%" height="100%"/>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4" style="text-align: center;font-size: 19px;
      color: black;font-family: 'Montserrat', sans-serif;font-weight: bold;">
          Medical Certificate Checks
      </div>
      <div class="col-md-4" style="text-align: center;font-size: 19px;
      color: black;font-family: 'Montserrat', sans-serif;font-weight: bold;">
          Additional Certificate Checks
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <img alt="Bootstrap Image Preview" src="../../../../assets/images/medical.jpg" width="100%" height="100%"/>
      </div>
      <div class="col-md-4">
        <img alt="Bootstrap Image Preview" src="../../../../assets/images/others.jpg" width="100%" height="100%"/>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-12">
          <mat-card-content class="content text-muted">
            Don’t worry. We understand your data is private,
            hence we keep it safe and secure. ViuDocs does not allow any third party
            to view your application without your consent. Unless you permit us,
             we will not give access to even your registered employer to see your documents.
        </mat-card-content> <br>
        <p class="text-primary font-weight-bold">Important :</p>
        <p class="content text-muted">Since we verify your Aadhaar, passport, and PAN card, the certificate provided
           by ViuDocs serves as identity proof and can even be used at airports, railways etc.</p>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-9 content">
        Hence answering the employers favourite question,
      </div>
    </div>
    <div class="addtitle" style="font-size: 20px;">"Where's the Fake"</div>
  </div>
</div> -->
<!-- </mat-card><br> -->
<!-- <mat-card style="background-color: whitesmoke;">
<mat-card-title class="addtitle">Who Do We Serve ?</mat-card-title>
<mat-card-content class="content">
  If you are an employer at an
<mat-list class="content">
  <mat-list-item class="text-muted"><mat-icon>arrow_right</mat-icon>Embassy</mat-list-item>
  <mat-list-item  class="text-muted"><mat-icon>arrow_right</mat-icon>Bank</mat-list-item>
  <mat-list-item  class="text-muted"><mat-icon>arrow_right</mat-icon>NBFC</mat-list-item>
  <mat-list-item  class="text-muted"><mat-icon>arrow_right</mat-icon>Any other institute that requires identity verification</mat-list-item>
</mat-list>
</mat-card-content>
</mat-card><br>
<mat-divider></mat-divider><br>
<mat-card style="background-color: whitesmoke;">
<mat-card-title class="addtitle">
    What Makes Us Different?
</mat-card-title>
<mat-card-content>
  <div class="row">
		<div class="col-md-12">
			<dl>
				<dt >
					•	Minimum error probability:
				</dt>
				<dd class="content text-muted">
          ViuDocs uses authentic integrated databases. Since all checks are automated,
           the probability of error, usually caused due to manual negligence, is nullified.
				</dd>
				<dt>
          •	Consent is important:
				</dt>
				<dd class="content text-muted">
          we understand the importance and value of your consent. Therefore,
          we guarantee that your data will remain inaccessible to anyone/ everyone without your approval.
				</dd>
				<dt>
          •	Certificate of verification:
				</dt>
				<dd class="content text-muted">
          we provide you with a certificate of verification with all your documents verified!
          You can easily apply for and join jobs without waiting for their background verification period.
				</dd>
				<dt>
					•	Make in India initiative:
				</dt>
				<dd class="content text-muted">
          ViuDocs is based completely in India with an ulterior motive to empower the people of the nation.
          The technology used and authenticity is at-par if not better than most foreign agencies
          offering the same service. We also provide services to our citizens at a reasonable rate.
        </dd>
        <dt>
          •	Secure your data:
        </dt>
        <dd class="content text-muted">
          We provide you a place to safely store all your data so you can easily access it when required.
           But don’t worry! We pledge to safeguard it. Your data and future’s safety is our duty.
        </dd>
			</dl>
		</div>
	</div>
</mat-card-content>
</mat-card> -->

<app-footer></app-footer>
