<!-- <mat-card>
  <mat-card-title>Search for the Details of Employee</mat-card-title><br>
  <form role="form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search with email here"
            formControlName="email" />
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">
          Search
        </button>
      </div>
    </div>
    <div class="hello">
      <div *ngIf="searchedUser.length>0">
        {{searchedUser[0].name}}
        <object width="1000" height="800" [attr.data]="getByPassImg(searchedUser)" type="application/pdf"></object>
      </div>
    </div>
  </form>

</mat-card> -->
<mat-card >
  <mat-card-content>
    <mat-card-title>Search for the Details of the Employee</mat-card-title> <br/>
    <form [formGroup] = "searchForm" (ngSubmit) = "onSubmit()">
      <div class="row">
        <div class="col-md-10">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search with email here"
            formControlName="email" />
        </div>
        <div class="col-md">
          <button type="submit" class="btn btn-primary">
            Search
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="searchedUser.length>0" style="margin-top: 2%;" >
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" style="margin-top: 10px;margin-let: 15px;">
              <button class="btn btn-success btn-lg" (click) = "showFile(searchedUser)" *ngIf="searchedUser[0].adharFile.length>0">Aadhar
              </button>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
              <button class="btn btn-success" (click) = "showFile(searchedUser)" *ngIf="searchedUser[0].panFile.length>0">Pan
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-9" *ngIf="isShowFile">
          <object width="800" height="800" [attr.data]="getByPassImg(searchedUser)" type="application/pdf"></object>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
