.profile-card {
text-align: center;
padding: 20px;
img {
  width: 150px ;
  height: 150px;
  object-fit: cover;
  // border-radius: 50%;
}
}
.mat-nav-list .mat-list-item {
  // color:#eee;
  font-family: 'Raleway', sans-serif;
  padding: 3px;
}
.mat-icon {
  margin-right: 5px;
}
.text {
  margin-top: 2px;
}

