<mat-nav-list class="sidebar">
  <div *ngIf="validuser || verifierUser" class="profile-card">
    <img src="../../../../assets/images/user.png" />
    <div class="header text">
      <h2>{{UserData.firstname}}</h2>
      <h4>{{UserData.email}}</h4>
    </div>
  </div>
  <mat-list-item *ngIf="validuser || verifierUser">
    <mat-icon>account_circle</mat-icon> Profile
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngIf="validuser" (click)="uploadDocuments()">
    <mat-icon>cloud_upload</mat-icon><span> UploadDocuments</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngIf="validuser" (click)="notifications()">
    <mat-icon>cloud_upload</mat-icon><span> Notifications</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngIf = "verifierUser" (click)="searchEmployee()" >
    <mat-icon>search</mat-icon><span>Search Employee</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>house</mat-icon><span class="text">Dashboard</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" (click)="aboutus()">
    <mat-icon>people_alt</mat-icon><span class="text">AboutUs</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" (click)="aboutus()">
    <mat-icon>message</mat-icon><span class="text">Blogs</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" (click)="contactus()">
    <mat-icon>contacts</mat-icon><span class="text">ContactUs</span>
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
